.hero {
  position: relative;
  background: #000;
  color: rgb(177, 0, 59);
  text-align: center;
  font-family: 'Avenir Next','Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif;

}

.heroImage {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 61.8vh;
  max-height: 80vw;
}

.heroDetails {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  font-size: calc(0.5em + 1vw);
  padding: 0 0.5em;
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}
